$c-white:                   #fff;
$c-black:                   #000;
$c-swish-coffee:            #d7cdcc;
$c-shuttle-gray:            #59656f;
$c-tapestry:                #9c528b;
$c-steel-gray:              #1d1e2c;

$ff-lucida-grande:          "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
