.Todo {
  position: relative;
  display: block;
  list-style: none;
  font-size: 17px;
  line-height: 30px;
}

  .Todo-checkbox {
    position: absolute;
    top: 8px;
    left: 0;
  }

  .Todo-text {
    display: block;
    padding-left: 20px;
  }

  .Todo-input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    font-size: 17px;
    line-height: 30px;
    border: 0;
    outline: none;
    background-color: rgba(255, 0, 0, .1);
  }

  .Todo-delete {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

.Todo--being-edited {
  .Todo-input {
    display: block;
  }

  .Todo-text {
    pointer-events: none;
    opacity: 0;
  }

  .Todo-delete,
  .Todo-checkbox {
    display: none;
  }
}

.Todo--enter,
.Todo--appear {
  opacity: 0;
}

.Todo--enter.Todo--enter-active,
.Todo--appear.Todo--appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.Todo--leave {
  opacity: 1;
}

.Todo--leave.Todo--leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


